body {
    background-color: black;
}
#mediaPlayerControls{
    width:100%;
    height:30%;
}
h1.asset_title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color:cadetblue;
}
div.icon_play{
    background-image: url("images/play_icon.svg");
}
div.icon_play:hover{
    background-image: url("images/play_icon_hover.svg");
}
div.icon_pause{
    background-image: url("images/pause_icon.svg");
}
div.icon_pause:hover{
    background-image: url("images/pause_icon_hover.svg");
}
div.media_icon{
    height: 32px;
    width: 32px;
    background-size: cover;
    position: absolute;
}
#slider_time {
    position: absolute;
}